---
apiVersion: v1
kind: Pod
metadata:
  name: ${INSTANCE}
  labels:
    app: ${CLUSTERNAME}
spec:
  containers:
  - name: vault-enterprise
    image: quay.io/ncolon_ibm/vault:1.19.8-ent
    volumeMounts:
    - mountPath: /opt/vault:z
      name: ${INSTANCE}-dir
      readOnly: false
  volumes:
  - name: ${INSTANCE}-dir
    hostPath:
      path: /home/$USER/vault-cs-labs/labs/lab-setup/volumes/${INSTANCE}
      type: Directory
